HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/modules.xml
.idea/workspace.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.vscode/settings.json

### macOS ###
.DS_Store

### Windows ###
Thumbs.db

### Logs ###
*.log

### Secrets ###
.env
/output/*
/cache/*
/.project-info
/src/main/resources/nlp-models/*
/src/main/resources/.history/
/fiction-novel-translated/*.zip
/fiction-novel/*.jsonl
/plan.md
/openapi.yaml
/metabase.txt
/machinima-llm.tar
/editor.note.txt
/dragons.chars.txt
/.gemini
/.mvn/
/src/main/resources/promts.txt
/configure.sh
/mvnw
/mvnw.cmd
/pom.old.xml
/pom.xml
/test.md
/.gradle/
/.app.env.md
/temp/
/out/*
/src/main/generated/*