<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Layout -->
<div th:fragment="editor" th:remove="tag">
    <!-- New Section with Two Panels -->
    <div class="mt-8 flex gap-4">

        <!-- Left Panel: Collapsible Sidebar -->
        <div :class="isSidebarCollapsed ? 'w-12' : 'w-1/4'"
             class="bg-white rounded-lg shadow-md p-2 transition-all duration-300 overflow-y-auto">

            <div th:remove="tag" th:replace="~{components/chapter/chapter-editor-sidebar::sidebar}">
                <p>
                    Here placed content of templates/components/chapter/chapter-editor-sidebar.html page, tag
                    `th:fragment="sidebar"`
                </p>
            </div>
        </div>

        <!-- Center Panel: Editor -->
        <div :class="isSidebarCollapsed ? 'w-full' : 'w-3/4'"
             class="bg-white rounded-lg shadow-md relative transition-all duration-300">
            <div class="border-b border-gray-200">
                <!-- Tabs -->
                <nav aria-label="Tabs" class="flex space-x-4 p-4">
                    <button :class="{
                            'text-gray-500 border-transparent': activeTab !== 'editor',
                            'text-blue-600 border-blue-600': activeTab === 'editor'
                         }"
                            @click="selectTab('editor')"
                            class="font-bold border-b-2 pb-2">Editor
                    </button>
                    <button :class="{
                            'text-gray-500 border-transparent': activeTab !== 'preview',
                            'text-blue-600 border-blue-600': activeTab === 'preview'
                        }"
                            @click="selectTab('preview')"
                            class="font-bold border-b-2 pb-2">Preview Changes
                    </button>
                    <button :class="{
                            'text-gray-500 border-transparent': activeTab !== 'report',
                            'text-blue-600 border-blue-600': activeTab === 'report'
                        }"
                            @click="selectTab('report')"
                            class="font-bold border-b-2 pb-2">Report
                    </button>
                    <button :class="{
                            'text-gray-500 border-transparent': activeTab !== 'lines',
                            'text-blue-600 border-blue-600': activeTab === 'lines'
                        }"
                            @click="selectTab('lines')"
                            class="font-bold border-b-2 pb-2">Lines
                    </button>
                </nav>
            </div>

            <!-- Tab Content -->
            <div class="h-full overflow-hidden">
                <!-- Editor Tab -->
                <div class="h-full" x-show="activeTab === 'editor'">
                    <div class="font-bold flex items-center space-x-2 m-2 p-2">
                        <div class="space-x-2 mr-2 border-r-4 border-grey-700 pr-1">
                            <label for="highlightSuspicious">Highlight Suspicious Lines:</label>
                            <input @change="changeValue('highlightSuspicious', highlightSuspicious)" id="highlightSuspicious" type="checkbox"
                                   x-model="highlightSuspicious">
                        </div>

                        <div class="space-x-2 mr-2 border-r-4 border-grey-700 pr-1">
                            <label for="hideNonSuspicious">Hide Non-Suspicious Lines:</label>
                            <input @change="changeValue('hideNonSuspicious', hideNonSuspicious)" id="hideNonSuspicious" type="checkbox"
                                   x-model="hideNonSuspicious">
                        </div>

                        <div class="space-x-2 mr-2 border-r-4 border-grey-700 pr-1">
                            <span>Font Size:</span>
                            <input @change="changeValue('chapterFontSize', $event.target.value)" max="36" min="10" step="1" type="range"
                                   x-bind:title="'Font size is: ' + chapterFontSize"
                                   x-model="chapterFontSize">
                        </div>
                    </div>

                    <div class="relative">
                        <div :class="{
                            'hide-none-suspicious-line': highlightSuspicious && hideNonSuspicious
                         }"
                             @editor-event="handleEditorEvent($event)"
                             class="h-full CodeMirror-container"
                             x-editor="currentContent"
                             x-settings="{
                            lineNumbers: true,
                            styleActiveLine: true,
                            styleActiveSelected: true,
                            lineWrapping: true,
                            mode: 'text/plain',
                            theme: 'eclipse',
                            viewportMargin: Infinity,
                            fontSize: chapterFontSize,
                            highlightEnglish: highlightSuspicious
                         }"
                        ></div>

                        <div :style="`left: ${contextMenuX}px; top: ${contextMenuY}px;`"
                             @click.away="contextMenuVisible = false"
                             class="absolute z-10 bg-white border border-gray-200 rounded-lg shadow-lg"
                             data-content-menu="line-numbers"
                             x-show="contextMenuVisible">
                            <div class="px-4 py-2">
                                <h4 class="text-xl font-extrabold dark:text-whit">Line Menu</h4>
                            </div>
                            <ul class="py-1">
                                <li @click="findSameLine()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Find the
                                    same line
                                </li>
                                <li @click="findAndPrepareTranslation()"
                                    class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Find similar and prepare translation
                                </li>
                                <hr class="h-px my-1 bg-gray-200 border-0 dark:bg-gray-700">
                                <li @click="copyLine()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Copy line
                                </li>
                                <li @click="deleteLine()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Delete
                                    line
                                </li>
                                <li @click="duplicateLine()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                                    Duplicate line
                                </li>
                                <li @click="insertLineAbove()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Insert
                                    line above
                                </li>
                                <li @click="insertLineBelow()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Insert
                                    line below
                                </li>
                            </ul>
                        </div>

                        <div class="fixed z-10 bg-white border border-gray-200 rounded-lg shadow-lg"
                             data-content-menu="text-selection"
                             style="top: 10px; right: 8px; width: 180px;"
                             x-show="selectionMenuVisible">
                            <div class="px-4 py-2">
                                <h4 class="text-xl font-extrabold dark:text-whit">Selection Menu</h4>
                            </div>
                            <div class="px-4 py-2">
                                <small class="text-xs text-gray-300 truncate w-32" x-text="selectionContent">Selection
                                    Content</small>
                            </div>
                            <ul class="py-1">
                                <hr class="h-px my-1 bg-gray-200 border-0 dark:bg-gray-700">
                                <li @click="findSameSelection()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Find
                                    lines with similar content
                                </li>
                                <li @click="findSameSelectionAndPrepareTranslation()"
                                    class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Find similar and prepare
                                    translation
                                </li>
                                <hr class="h-px my-1 bg-gray-200 border-0 dark:bg-gray-700">
                                <li @click="copySelection()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Copy
                                </li>
                                <li @click="removeSelection()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                                    Remove
                                </li>
                                <li @click="translateSelection()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                                    Translate
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-4 flex justify-end">
                        <button :class="isSaving ? 'bg-yellow-500 scale-110' : 'bg-green-500'"
                                @click="saveEditorChanges()"
                                class="text-white px-4 py-2 rounded transition duration-300 ease-in-out">Save Changes
                        </button>
                    </div>
                </div>

                <!-- Preview Changes Tab -->
                <div class="h-full" x-show="activeTab === 'preview'">
                    <div class="relative h-full">
                        <div class="h-full merge-view " id="merge-view"></div>
                    </div>
                </div>

                <!-- Report Tab -->
                <div class="h-full" x-show="activeTab === 'report'">
                    <h2 class="text-xl font-bold m-3">Analysis Results</h2>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th class="px-6 py-3" scope="col">Metric</th>
                                <template :key="'th-' + col + '-' + colIndex"
                                          x-for="(col, colIndex) in fieldsForAnalysis">
                                    <th class="px-6 py-3" scope="col" x-text="col"></th>
                                </template>
                            </tr>
                            </thead>
                            <tbody>
                            <template :key="'th-' + prop + '-' + propIndex"
                                      x-for="(prop, propIndex) in getPropertyNames()">
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                        scope="row"
                                        x-text="camelCaseToWords(prop)">
                                    </th>
                                    <template :key="'td-' + col + '-' + colIndex"
                                              x-for="(col, colIndex) in fieldsForAnalysis">
                                        <td class="px-6 py-4" x-text="formatValue(analysis[col][prop])"></td>
                                    </template>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="h-full" x-show="activeTab === 'lines'">
                    <div th:remove="tag" th:replace="~{components/chapter/chapter-editor-tab-line-list::tab-lines}">
                        <p>
                            Here placed content of templates/components/chapter/chapter-editor-tab-line-list.html page,
                            tag `th:fragment="tab-lines"`
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>